selection_border = hsla(215, 100%, 50%, 1);
selection_background = lighten(selection_border, 75%);

valid_drop_target_border = hsla(139, 100%, 50%, 1);
valid_drop_target_background = lighten(selection_border, 75%);

.gpc.treeview {

  font-family: Arial; // TODO: remove/replace
  
  .node {
  
    //padding: 0.15em;
    padding: 0;
    
    > .header {
      display: table-row;
      
      > * { display: inline-block; }
      
      > .handle {
        width: 11px;
        height: 11px;
        background-image: url(minus.png);
        margin-right: 0.25em;
        position: relative;
      }
      
      > .label {
        cursor: default;
        border-width: 3px;
        outline: none;
        
        border: solid 0.1em transparent;
        padding: 0.15em;
        border-radius: 0.15em;
        
        //margin-bottom: -0.5em; // too much, but gets rid of spacing between li's
        position: relative;
        
        &:hover {
          background-color: alpha(selection_background, 0.5);
          border-color: alpha(selection_border, 0.5);
        }        
      } // .label
    } // header
    
    &.being-dragged > .label { opacity: 0.25; }
    
    &.closed {
      > .header > .handle {
        background-image: url(plus.png);
      }
      > ul {
        display: none;
      }
    }
    
    &.selected > .header > .label {
      background-color: selection_background;
      border-color: selection_border;
    }
    
    &.leaf > .header > .handle {
      //background: none;
      width: 0;
      margin-right: 0;
    }
    
    > ul.child-nodes {
      list-style-type: none;
      padding-left: 1em;
      margin: 0; //0.1em 0;
    }

    > ul.child-nodes > li {
    
      div.insertion-mark {
        width: 100%;
        height: 0; // does not take up vertical space
        position: relative;
        
        &.active {
          display: block;
        }
        
        // Visual insertion mark
        > div {
          border: 0;
          margin: 0;
          padding: 0;
          height: 1em;
          position: absolute; //relative;
          left: 0; right: 0;
          overflow: hidden;      
          transform: translateY(-50%);
          z-index: 1;
          //background-color: rgba(0, 0, 0, 0.25);
          
          // Visual elements of the insertion mark:
          > div {
            background-color: transparent; // normally invisible
            pointer-events: none;
            
            &.brace {
              position: absolute;
              width: 0.5em;
              top: 0.25em;
              bottom: 0.25em;
              &.left {
                left: -0.25em;
              }
              &.right {
                right: -0.25em;
              }
              transform-origin: 50% 50%;
              transform: rotate(45deg);
            }
            
            &.bar {
              position: absolute;
              top: 50%;
              height: 0.1em;
              left: 0;
              right: 0;
              transform: translateY(-50%);
            }
            
          } // visual elements of insertion marker
          
          &:hover {
            > div { background-color: #888; }
          }

        }

      }  
      
      &:last-child {
        > div.insertion-mark {
          height: 0.5em;
        }
      }
    } // child-nodes
  }  
  
  // Dragging is ongoing somewhere on the page (TreeView will set .dragging on top div)
  &.dragging {
    div.node {
      ul.child-nodes > li {
        div.insertion-mark.valid-drop-target > div > div { background-color: #0C4; }
      }
      
      > label.valid-drop-target {
        &:hover {
          background-color: alpha(selection_background, 0.5);
          border-color: alpha(selection_border, 0.5);
        }
      }
    }
  }
}
