selection_border = hsla(215, 100%, 50%, 1);
selection_background = lighten(selection_border, 50%);

.gpc.treeview {

  font-family: Arial; // TODO: remove/replace
  
  .node {
  
    display: block;
    
    > .handle {
      display: inline-block;
      width: 11px;
      height: 11px;
      background-image: url(minus.png);
      margin-right: 0.2em;
      position: relative;
    }

    > span.label {
      cursor: default;
      padding: 0.15em;
      border: solid 0.1em transparent;
      border-radius: 0.25em;
      &:hover {
        background-color: alpha(selection_background, 0.5);
        border-color: alpha(selection_border, 0.5);
      }
    }
    
    > ul {
      list-style-type: none;
      padding-left: 1em;
      margin: 0.1em 0;
    }

    &.closed {
      > .label {
        background-image: url(plus.png);
      }
      > ul {
        //display: none;
      }
    }
    
    &.drag-hover {
      > .label {
        background-color: #FAA;
      }
    }
    
    &.childless {
      > .handle {
        //background: none;
        width: 0;
        margin-right: 0;
      }
    }
  }  
}
