.gpc.treeview {

  font-family: Arial; // TODO: remove/replace
  
  .node {
  
    > .handle {
      display: inline-block;
      width: 11px;
      height: 11px;
      background-image: url(minus.png);
      margin-right: 0.2em;
      position: relative;
      bottom: 0.05em;
    }

    > .label {
      &:hover {
        background-color: #FAA;
      }      
    }
    
    > ul {
      list-style-type: none;
      padding-left: 1em;
      margin: 0.1em 0;
    }

    &.closed {
      > .label {
        background-image: url(plus.png);
      }
      > ul {
        //display: none;
      }
    }
    
    &.childless {
      > .handle {
        //background: none;
        width: 0;
        margin-right: 0;
      }
    }
  }  
}
